.userInfoWidget {
    margin-bottom: 10px!important;
}
    .userInfoWidgetStaticText {
        display: block;
        font-weight: bold;
        text-decoration: underline;
    }
    .userInfoWidgetDynamicText {
        color: red;
        font-size: 11px;
    }